.gpt3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;
}

.gpt3__navbar-links {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-start;
}

.gpt3__navbar-links_logo {
  margin-right: 2rem;
}
.gpt3__navbar-links_logo img {
  height: 16.016000747680664px;
  width: 62.55734634399414px;
  left: 135.659912109375px;
  top: 74.2919921875px;
  border-radius: 0px;
}

.gpt3__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.gpt3__navbar-sign {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}

.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button {
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  color: #fff;
  font-weight: 500;

  font-size: 18px;
  line-height: 25px;

  background: #ff4820;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
}
